body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  /* position: relative; */
}


.pageLinks {
  display: flex;
}



.carouselParent {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  position: relative;
  height: 100vh;
  left: 0px;
  transition: all 800ms ease 0s;
}

.slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.slide h1,
.slide h2 {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.slide.active {
  transition-duration: 0.4s;
}

.slideImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.masonsRoom {
  background-color: #f5e598;
}

.navIcon {
  opacity: 0.7;
}

.navIcon:hover {
  opacity: 1;
}

.masonsRoomButton {
  position: absolute;
  z-index: 99;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 4rem;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }

.masonsRoomButton:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }

.masonsRoomButton:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }

@media screen and (max-width: 600px) {
  .socialLinks {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .homeBackground1 {
    background-color: black;
    height: 100vh;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeBackground2 {
    background-color: #cccccc;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
  }

  /* .homeBackgroundVideo {
    top: 0;
  } */


  .navlink {
    margin: 20px 30px;

  }

  .navIcon {
    width: 60px;
    height: 60px;
    color: white;
  }

  .masonsRoomButton {
    font-size: 2rem;
  }

  .masonsRoom {
    background-color: #cccccc;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
  }

  .volumeIcon {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    opacity: 0.7;
    width: 60px;
    height: 60px;
  }

  .volumeIcon:hover {
    opacity: 1;
  }

  .volume {
    width: 60px;
    height: 60px;
    bottom: 20px;
  }

  .volumeMuted {
    width: 55px;
    height: 55px;
    bottom: 1px;
  }
}

@media screen and (max-width: 2000px) {
  .socialLinks {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .homeBackground1 {
    background-color: black;
    height: 100vh;
    max-width: 100vw;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
  }

  .homeBackground2 {
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
  }

  .masonsRoom {
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    overflow: hidden;
  }


  .navlink {
    margin: 20px 30px;

  }

  .navIcon {
    width: 60px;
    height: 60px;
    color: white;
  }


  .masonsRoomButton {
    color: 'white';
    position: absolute;
    z-index: 99;
  }

  .masonsRoomButton:hover {
    color: #f5e598;
  }

  .volumeIcon {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    z-index: 12;
    left: 20px;
    opacity: 0.7;
    width: 60px;
    height: 60px;
    bottom: 20px;
    left: 30px;
  }

  .volumeIcon:hover {
    opacity: 1;
  }

  /* .volumeMuted {
    width: 3rem;
    height: 3rem;
  } */
}


