body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #ffdc1c;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.pageLinks {
  display: flex;
}

.socialLinks {
  display: flex;
}

.carousel {
  position: relative;
  height: 93.5vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 800ms ease 0s;
}

.slide h1, .slide h2 {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.slide.active {
  opacity: 1;
  transition-duration: .2s;
}

.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}